<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Transform Chaos into Charm</h1>
                        <p class="">Hosting an event doesn’t have to be stressful! With an organizer that helps you plan every detail—from decorations to timelines—you can turn overwhelming chaos into an event filled with elegance and charm. Say goodbye to last-minute hiccups and hello to a seamless experience for you and your guests!</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Your All-in-One Party Partner</h1>
                        <p>Imagine having a personal assistant that never drops the ball. From sending invitations and tracking RSVPs to managing budgets and vendor contacts, this application is your go-to partner for hassle-free event management. Everything you need is at your fingertips, ensuring your party is a roaring success!</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Memories Made Effortless</h1>
                        <p>Leave the heavy lifting to technology and focus on what matters—creating unforgettable memories. With all the logistics handled smoothly, you can enjoy your event without a care in the world. Relive every perfect moment knowing your event went off without a hitch!</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Tools to plan, organize, and shine effortlessly.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" width="200" height="200">
                                <h1>Marima</h1>
                                <p>Planner</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" >
                                <h1>Viresh Narayanan</h1>
                                <p>Co-Planner</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://images.pexels.com/photos/1236701/pexels-photo-1236701.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" >
                                <h1>Andrew Kelley</h1>
                                <p>Co-planner</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" >
                                <h1>Jason Stiemer</h1>
                                <p>Co-Planner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>"Craft unforgettable experiences with innovative and captivating event designs."</h1>
                        <p>"Capture every moment with stunning event pictures that tell your story beautifully.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="images/istockphoto-499517325-612x612.jpg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" >
                                <h1> Togetherness in Style</h1>
                                <p>A night filled with laughter, unity, and memories. A stylish party that brought everyone together in perfect harmony.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="images/pexels-fu-zhichao-176355-587741.jpg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1> A Celebration of Elegance</h1>
                                <p>An unforgettable event where every moment radiates joy and sophistication. The perfect blend of elegance and celebration</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>